/* --- Declarações globais --- */
/* --- RESET --- */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

:root {
    /* general */
    --dark-grey: #181A1B;

    /* text */
    --dark-text: black;
    --light-text: white;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: grey;
    font-size: 1.6rem;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    min-height: 100vh;
}



/* --- CABEÇALHO --- */
header {
    background-color: rgb(42, 97, 199);
    height: 200px;
}

.circular {
    border-radius: 1000px;
}

#profile-picture {
    width: 250px;
    height: 250px;
}

.contact-and-location {
    flex-direction: column;
}



/* ---------- CONTEÚDO PRINCIPAL ---------- */
.flex-container {
    display: flex;
}

/* --- TEXTO --- */
h1 {
    font-size: 1.6rem;
}

/* --- Outros elementos --- */
/* - Botões, Links, etc. - */
a {
    text-decoration: none;
    color: initial;
}

a:hover {
    cursor: pointer;
}

/* --- SESSÕES --- */
/* - NAVAGAÇÃO - */
.nav-option {
    text-transform: uppercase;
}

/* - CARDS DE INFORMAÇÃO - */
.navigation {
    background-color: white;
    width: 30%;
}

#main-info-section {
    background-color: white;
    width: 70%;

    flex-direction: column;
}

.info-card {
    border: black 1px solid;
    border-radius: 0.8rem;
    box-shadow: 1;
}

.info-card {
    background: transparent;
    backdrop-filter: 1rem;
    padding: 3.2rem;
}

.info-card p, .info-card h2 {
    color: var(--dark-text);
}
/* ------------------------- */



/* --- RODAPÉ --- */
footer {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgb(27, 27, 83);
    width: 100%;
    height: 100px;
}
